:root {
  --instagram-blue: #0058a3;
  --instagram-dark-blue: #00376b;
  --instagram-purple: #bc2a8d;
  --instagram-red: #ed4956;
  --instagram-yellow: #fccc63;
  --instagram-orange: #fd9946;
  --instagram-light-orange: #fecc4d;
  --instagram-green: #23cf5f;
  --instagram-black: #000000;
  --instagram-grey: #fafafa;
  --instagram-dark-grey: #8e8e8e;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* background: var(--instagram-purple); */
}

.flex {
  width: 100vw;
  display: flex;
  flex-basis: 10% 90%;
}

.flex :nth-child(2) {
  width: 82%;
}

.hidden {
  display: none;
}

.flex > :nth-child(1) {
  width: 18%;
  height: 100vh;
  /* border-right: 1px solid var(--instagram-dark-grey); */
}

.hr {
  width: 108%;
  height: 5px;
  margin-bottom: 20px;
  background: rgba(128, 128, 128, 0.148);
  translate: -7%;
}


