/* Sidebar.module.css */
.sidebar {
  max-width: 250px;
  padding-top: 30px;
  border-right: 1px solid #dbdbdb;
}

.sidebarContent {
  display: flex;
  justify-content: center;
}

.sidebarNav {
  list-style: none;
  /* padding: 20px; */
}

.sidebarNav li {
  margin-bottom: 20px;
  padding: 5px 0;
}

.sidebarNav a {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  display: flex;
  /* gap: 10px; */
  align-items: center;
}

.sidebarNav a span {
  font-size: 1rem;
  margin-right: 50px;
}

.sidebarNav li.active {
  font: 0.65em "Lato", sans-serif;
  font-weight: bold;
}

.sidebarNav a svg {
  margin-right: 15px;
  font-size: 1.8rem;
}

.sidebarNav a:hover {
  color: #3897f0;
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    border-right: none;
    /* border-bottom: 1px solid #ddd; */
  }

  .sidebarContent {
    justify-content: flex-start;
  }
}
@media (max-width: 1024px) {
  .sidebarNav a span {
    display: none;
  }

  .sidebar {
    width: max-content;
  }
}

@media screen and (max-width: 468px) {
  .sidebar {
    position: fixed;
    /* margin-top: 10px; */
    /* width: 70vw; */
    bottom: 0;
    left: 0;
    padding: 0;
    /* margin-inline: auto; */
    transform: translateY(18px) translateX(-15px);
    z-index: 100;
  }

  .sidebarNav a svg{
    font-size: 1.5rem;
  }

  .search {
    opacity: 0;
    display: none;
  }

  .sidebarNav {
    width: 90vw;
    margin-inline: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid red; */
    justify-content: space-between;
  }
  .sidebarContent {
    width: 100vw;
    /* background: #000; */
  }
  .sidebarNav a svg {
    margin: 0;
  }
}
