.bottombar {
  display: none;
}

.bottombar * {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.bottombar >*:hover {
  color: var(--instagram-black);
  font-weight: 600;
  scale: 1.1;
}

@media screen and (max-width: 500px) {
  .bottombar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
  }
}
