/* Navbar.module.css */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: #fff; */
  margin-inline: auto;
  /* padding: 10px 0; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 960px; */
}

.logo *{
  font-size: 1.5rem;
  font-weight: bold;
  /* color: #000; */
  text-decoration: none;
}

.menu button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #000;
}

.dark-mode {
  background-color: #121212;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #000;
}

.light-mode .logo * {
  color: #000;
}

.dark-mode .logo * {
  color: #fff;
}
